h2 { 
    font-size: 16pt; 
    font-style: italic; 
    font: Arial; 
    color: blue;
} 
body { 
    width: 600px; 
    height: 280px; 
    border: solid blue 2px; 
    padding: 5px; 
    background-color: #F0F0F0;
} 
#first { 
    background-color: yellow; 
    float: left;
    width: 200px; 
    padding: 10px;
    margin-right: 10;
} 
#third { 
    background-color: orange; 
    position: absolute; 
    left: 110px; 
    top: 200px; 
    width: 200px; 
    padding: 10px;
} 
#fourth { 
    background-color: rgb(255, 80, 0); 
    color: white; 
    float: right; 
    width: 200px; 
    padding: 10px; 
    margin-right: 40px; 
    margin-top: 20px; 
}